# Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
build/
dist/
*.egg-info/
*.egg

# Env
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Logs
*.log

# DB/ Temp
*.db
*.sqlite3

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Misc
*.bak
*.tmp